node_modules/
dist/
.env
.env.*
.DS_Store
*.log
postgres_data/
evolution-api/postgres_data/
# Ignorar carpetas de datos de docker si las hay dentro de Evolution
02_EVOLUTION_API/postgres_data/
# Ignorar entornos virtuales de Python (donde se instalan las librerías)
venv/
env/
.venv/
*/venv/

# Ignorar carpetas de dependencias de Node.js (veo que tienes package.json)
node_modules/
*/node_modules/

# Ignorar archivos de variables de entorno (¡Seguridad!)
.env
*.env

# Ignorar dumps de bases de datos
# *.sql
*.sqlite

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Archivos específicos de sistema
.DS_Store
