# --- DEPENDENCIAS Y COMPILADOS GENERALES ---
node_modules/
*/node_modules/
dist/
build/
vendor/
.DS_Store
*.log
*.tmp

# --- PYTHON Y ENTORNOS VIRTUALES ---
venv/
env/
.venv/
*/venv/
*.venv
__pycache__/
*.pyc

# --- VARIABLES DE ENTORNO Y SEGURIDAD ---
.env
.env.*
*.env
config_secret.php
**/secrets.h

# --- BASES DE DATOS Y DOCKER ---
postgres_data/
evolution-api/postgres_data/
02_EVOLUTION_API/postgres_data/
*.sqlite
# *.sql

# --- CONFIGURACIONES ESPECÍFICAS (AGENDAMIENTO/PHP) ---
04_AGENDAMIENTO/easy_appointments_src/application/config/config.php
04_AGENDAMIENTO/easy_appointments_src/config.php
04_AGENDAMIENTO/easy_appointments_src/storage/sessions/*

# --- NEXT.JS Y WEBPACK ---
.next/
*/.next/
out/
build/
dist/
.vercel/

# Archivos temporales de Hot Module Replacement (HMR)
*.hot-update.js
*.hot-update.json
# Credenciales sensibles
09_SYNAPSE_AI/docs/legal/mr-frio-593eea45e8d2.json
